@using TitanHelp.Data.Models;

<table>
    <thead>
       <th>Ticket ID</th>
       <th>Technician ID</th>
       <th>Customer ID</th>
       <th>Created Date</th>
       <th>Completed Date</th>
       <th>Is Active</th>
       <th>Issue</th>
    </thead>
    <tbody>
        @foreach (Ticket ticket in Model.AllTickets)
        {
            <tr>
                <td>@ticket.TicketID</td>
                <td>@ticket.TechnicianID</td>
                <td>@ticket.CustID</td>
                <td>@ticket.CreatedDate</td>
                <td>@ticket.CompletedDate</td>
                <td>@ticket.IsActive</td>
                <td>@ticket.IssueDescription</td>
            </tr>
        }
    </tbody>
</table>
